/* App styles - using Tailwind for styling */
@import "react-datepicker/dist/react-datepicker.css";
.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker__input-container input {
  width: 100%;
}